.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.demonImg,
.shade{
  height: 66%;
  width: 66%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
}
.demonImg{
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    column-count: 4;
    gap: 30px;
    color:rgba(255, 249, 245, 0.956)
  }
  .card {
    box-shadow:  rgba(21, 21, 21, 0.806) 5px 5px 5px;
    background-color: #3d4041;
    padding: 10px;
    display: flex;
    flex-direction: column;
    }

  }
@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

#navDiv{
  /* height: 90%; */
  /* width: 90%; */
  padding: 4%;
  background-image: url("/home/emilyfern/Development/code/Phase-3/phase_3_project/Phase-3-front-end/my-app/src/1113643.png");
  color: white;
  /* background-repeat: no-repeat; */
  background-position: center;
}

/* 
.btn-primary {
  align-items: center;
  background-color: #269e6cfe;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: center;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-primary:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btn-primary:hover:after {
  transform: translate(0, 0);
}

.btn-primary:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn-primary:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .btn-primary {
    padding: 0 40px;
  }
} */