:root{
  --green: rgba(2, 77, 25, 0.684);
  --light-green: rgba(18, 133, 50, 0.714);
  --light-blue: rgba(102, 197, 207, 0.7);
  --burnt-orange: rgba(158, 37, 0, 0.812);
  --red-orange: rgba(228, 80, 51, 0.467);
  --gold: rgb(161, 103, 16);
  --purple-blue: rgba(23, 35, 126, 0.75);
  --purple: rgba(42, 19, 107, 0.701);
  --mauve: rgb(120, 75, 132);
  --hibiscus: rgb(180, 55, 87);
  --alecto-red: rgb(246,75,74);
  --emily-pink: rgb(117,31,35);
  --tisiphone-purple: rgb(50,41,77);
}

.App {
  text-align: center;
  background-color: var(--green);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@font-face {
  font-family: 'Greek font';
  src: url('CaesarDressing.woff') format('woff2');
}
.about-app{
  padding: 0;
  margin: 8px;
}
.about{
  color: whitesmoke;
  font-family: "Times New Roman";
  font-size: 13pt;
  padding-inline: 180px;
  padding-top: 16px;
}
.about-box{
  border-width:2px;
  color:#fff;
  border-color:#141515;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow:inset 0px 0px 15px 0px rgba(2, 26, 9, 0.902);
  text-shadow:inset 0px 1px 0px #263666;
  background-color:rgba(4, 54, 18, 0.5);
  padding: 45px;
  letter-spacing: 1pt;
}

.demonImg,
.shade{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
  transition: transform .2s;
}
.demonImg{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.shade:hover{
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-count: 6;
    gap: 35px;
    color: whitesmoke;
    font-family: "ubuntu";
    padding: 80px;
    font-size: 14pt;
    letter-spacing: 1.5px;
  }
  #demon-cards{
    padding-block: 30px;
  }
  .card {
    box-shadow: var(--green) 5px 5px 5px;
    background: var(--tisiphone-purple);
    border-radius: 10px;
    backdrop-filter: blur(8px);
    border: 1px solid var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 10px;
    }
    #demon_card {
      font-size: 18pt;
      box-shadow: var(--green) 5px 5px 5px;
      background: var(--emily-pink);
      border-radius: 10px;
      border: 1px solid var(--green);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-grow: inherit;
      flex: 1;
      gap: 20px;
      height: 60%;
      width: 60%;
      flex: 1 
    }
    .card_text{
      margin: 4%;
      padding: 0%;
    }
    .card_title{
      margin: 4%;
      padding: 0%;
    }
 
  }
@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

#navDiv{
  padding: 4%;
  background-image: url("https://images4.alphacoders.com/111/1113643.png");
  color: white;
  background-position: center;
  font-family: 'Greek font';
  letter-spacing: 3pt;
  font-size: 160%;
}
.nav {
  font-size:18px;
  font-family: "ubuntu";
  width:140px;
  height:50px;
  border-width:2px;
  color:#fff;
  border-color:#141515;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow:inset 0px 0px 15px 0px rgba(2, 26, 9, 0.909);
  text-shadow:inset 0px 1px 0px #263666;
  background-color:rgba(4, 54, 18, 0.8);
  padding: 10px;
}

.new-demon-form {
 padding-bottom: 80px;
 margin: auto;
}
.new-demon-form,
.new-soul-form {
  font-size:18px;
  font-family: "Greek font";
  padding: 40px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-soul-form{
color: white;
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(27, 0, 58, 0.707);
backdrop-filter: blur(7.9px);
}

.soul-form{
  background-image: url("https://preview.redd.it/feger4agnv271.png?width=3840&format=png&auto=webp&s=8d970ccca70a808beab2befaca9cf98b6ae968f8");
  background-size: cover;
  display: flex;
  background-position: inherit;
  flex-grow: inherit;
  background-repeat: no-repeat;
  padding: 20%;
}

.demon-form{
  padding: 10px;
}

.form-input,
.dropdown{
  font-size: 16px;
  font-family: "ubuntu";
  text-align: center;
  width: 180px;
}
.dropdown{
  padding: 2px;
}

.btn-primary {
  background-color: var(--green);
  border: 1px solid var(--purple);
  border-radius: .5rem;
  color: white;
  padding: 0.4rem;
  font-family: "ubuntu";
  font-size: 12pt;
  box-shadow: var(--purple) 5px 5px 5px;
  align-self: center;
  padding: 8px;
}

 
